@model List<Common.DTO.ItemDTO>

@{
    ViewData["Title"] = "Store";
}

<h2>Store</h2>
<div class="row">
@foreach(var item in Model)
{
    <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
            <div class="card-body">
                <h5 class="card-title">@item.Name</h5>
                <p class="card-text">@item.Description</p>
                <p class="card-text">Price: @item.Price</p>
                <form asp-controller="Cart" asp-action="Add" method="post">
                    <input type="hidden" name="itemId" value="@item.ItemId" />
                    <div class="input-group mb-3">
                        <input type="number" name="qty" value="1" min="1" class="form-control" />
                        <button class="btn btn-primary" type="submit">Add to cart</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
}
</div>
