@model List<Common.DTO.CartItemDTO>

@{
    ViewData["Title"] = "Shopping Cart";
}

<h2>Your Cart</h2>
@if (!Model.Any())
{
    <p>Your cart is empty.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Price</td>
                    <td>@item.Quantity</td>
                    <td>@(item.Price * item.Quantity)</td>
                </tr>
            }
        </tbody>
    </table>
    <form asp-controller="Cart" asp-action="Clear" method="post">
        <button class="btn btn-danger">Clear cart</button>
    </form>
}
